img{
    width:800px;
    height: auto;
    border-radius: 100px;
    margin-top: 20px;
}
.quti{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    background-color: rgb(4, 4, 66);
    color: aliceblue;
    padding:20px;
}
